* {
    margin: 0;
    padding: 0
}

body{

    background-color:  #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}




html {
    height: 100%
}



#grad1 {
    background-color:  #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);      
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}



#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.2);
    /* padding: 20px 40px 30px 40px; */
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
    position: relative;
    padding: 50px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
    padding:24px;
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E;
    padding: 20px;
    width:100%;
    margin:5px
}

.shopownername{

    margin-top:10px;
}

#msform input,
#msform textarea {
    /* padding: 0px 8px 4px 8px; */
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    /* margin-bottom: 25px; */
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    /* font-family: montserrat; */
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid skyblue;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: #1266f1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue
}


.fa, .fas {
    font-family: "Font Awesome 5 Pro";
    font-weight: 600;
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #000000
}

.paragraph{
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0px 2px 2px rgb(0 0 0 / 20%);
    /* padding: 20px 40px 30px 40px; */
    box-sizing: border-box;
    width: 100%;
    /* margin: 0 3% 20px 3%; */
    position: relative;
    padding: 28px;
    font-family: 'Roboto';
}


#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 33%;
    float: left;
    position: relative
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "1";
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "2";
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "3";
}

/* #progressbar #confirm:before {
    font-family: FontAwesome;
    content: "4"
} */

#progressbar #gateway:before {
    font-family: FontAwesome;
    content: "5"
}





#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: #e0e0e0;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #00b74a;
}

.radio-group {
    position: relative;
    margin-bottom: 25px
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px
}

.form-outline .form-control.form-control-lg {
    font-size: 1rem;
    line-height: 150%;
    padding-left: .75em;
    padding-right: .75em;
    font-weight: 500;
    padding: 12px;
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
    width: 100%;
    object-fit: cover
}



.container{
    height:350px;
    width:430px;
}

.wrapper{
    position:relative;
    height: 300px;
    width:100%;
    border-radius:10px;
    background:#fff;
    border:2px dashed #c2cdda;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}

.wrapper.image{
    position:absolute;
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;


}

.wrapper .image img{
    
    height:100%;
    width:100%;
    object-fit:cover;
}

.wrapper.icon{
    font-size: 100px;
    color:#9658fe;
}

.wrapper.text{

    font-size:20px;
    font-weight:500;
    color:#5B5B7B;

}

.wrapper #cancel-btn{

    position:absolute;
    right:15px;
    top:15px;
    font-size:20px;
    cursor:pointer;
    color:#9658fe;
    display:none;
}

.wrapper.file-name{
    position:absolute;
    bottom:0px;
    width:100%;
    color:#fff;
    padding :8px 0;
    font-size:18px;
    background:linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);


}

.container #custom-btn{
    margin-top:14px;
    width:100%;
    height:50px;
    display:block;
    border:none;
    border-radius:0px;
    color:#fff;
    font-size:18px;
    font-weight:500;
    letter-spacing:1px;
    text-transform:uppercase;
    cursor:pointer;
    background:#0d6efd

}